h1 {
  color: DarkOrchid;
}
h2 {
  color: Lavender;
}
ul {
    list-style-type: none;/*remove bullets*/
    background: azure;
    width: 100px; 
    padding: 0;/*remove padding from the left*/
}


li a:hover {
  background: slateblue;
  text-allign: center;
}

li a: {
  display: block;
  text-decoration: none;
  color: slateblue
  font-family: Arial;
}
