h1 {
  color: DarkOrchid;
}
h2 {
  color: Lavender;
}
ul {
    list-style-type: none;
    background: azure;
    width: 100px; 
    padding: 0;
}


li a:hover {
  background: mediumpurple;
  text-allign: center;
}

li a: {
  display: block;
}
