h1 {
  color: DarkOrchid;
}
h2 {
  color: Lavender;
}
ul {
    list-style-type: none;/*remove bullets*/
    background: azure;
    width: 100px; 
    padding: 0;/*remove padding from the left*/
}


li a:hover {
  background: slateblue;
  text-allign: center;
}

li a: {
  display: block;
  text-decoration: none;
  color: slateblue
  font-family: Arial;
  margin: 0;
}

html {
  height: 100%;
}
body{
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/5a/47/1b/5a471bf053576af450181ffe1f5fc74b.jpg');
  background-position: center center;
  background-size cover;
}
div {
  background-color: HoneyDew;
}
img { 
  width: 20%;
  height: auto;
}
